<form name="formEdit" novalidate ng-submit="crudVm.save($event, formEdit.$valid)">

    <div class="md-fab-bottom-right app-fixed-bottom-right">

        <button type="submit" class="md-button md-fab"  aria-label="save" >
            <ng-md-icon icon="save"></ng-md-icon>
        </button>

        <md-button class="md-fab "  aria-label="Delete" ng-click="crudVm.cancel($event)" >
            <ng-md-icon icon="cancel"></ng-md-icon>
        </md-button>
    </div>
    <md-card>
<!--        {{crudVm.entity}}-->
        <md-card-content>
            <md-card-title>
                <md-card-title-text>
                    <span> 
                        <div flex layout="row">
                            <md-input-container flex="33" class="md-block" flex-gt-xs>
                                <label>Código</label>
                               <input  name="codigo" ng-model="crudVm.entity.pessoaId" disabled>
                            </md-input-container>                            
                        </div>
                        <div layout-gt-sm="row"> 
                            <md-input-container flex="33" class="md-block" flex-gt-xs>
                                <label>Nome</label>
                                <input  name="nome" ng-model="crudVm.entity.pessoa.nome" required>
                                <div ng-messages="formEdit.nome.$error">
                                    <div ng-message="required">Campo Obrigatório.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media foto">
                        <div class="alterar_foto"> <span><label for="inputDialog">Alterar Foto</label></span></div>
                        <img class="md-card-image" ng-src="{{crudVm.image}}" />
                        <input id="inputDialog" type="file" style="position: fixed; top: -100em" onchange="angular.element(this).scope().changePhoto()">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Dados pessoais">
                    <br /><br />
                    <div layout-gt-sm="row">
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="crudVm.entity.pessoa.email" md-max-length="200">
                            <div ng-messages="formEdit.email.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>                        
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>CPF</label>
                            <input  name="cpf" ng-model="crudVm.entity.pessoa.cpf" ui-br-cpf-mask required>
                            <div ng-messages="formEdit.cpf.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="30" class="md-block" flex-gt-xs>
                            <label>RG</label>
                            <input  name="rg" ng-model="crudVm.entity.pessoa.rg" required>
                            <div ng-messages="formEdit.rg.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>                        
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Sexo</label>
                            <md-select ng-model="crudVm.entity.pessoa.sexo">
                                <md-option ng-repeat="item in crudVm.sexos" ng-value="{{item.id}}">
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                            <div ng-messages="formEdit.sexo.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Data de Nascimento</label>
                            <input  name="dataNascimento" ng-model="crudVm.entity.pessoa.dataNascimento">
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Estado Civil</label>
                            <md-select ng-model="crudVm.entity.pessoa.estadoCivil">
                                <md-option ng-repeat="item in crudVm.estadosCivis" ng-value="{{item}}" ng-selected="item.id === crudVm.entity.pessoa.estadoCivil.id">
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                            <div ng-messages="formEdit.sexo.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container flex="30" class="md-block" flex-gt-xs>
                            <label>Categoria CNH</label>
                            <md-select ng-model="crudVm.entity.pessoa.cnhCategoria" >
                                <md-option ng-repeat="item in crudVm.categoriasDeCnh" value="{{item}}">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" md-max-length="11" flex-gt-xs>
                            <label>CNH</label>
                            <input  name="cnh" ng-model="crudVm.entity.pessoa.cnh">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">                        
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Tel. Celular</label>
                            <input name="telCelular" ng-model="crudVm.entity.pessoa.telCelular" required ui-br-phone-number>
                            <div ng-messages="formEdit.telCelular.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Tel. Fixo</label>
                            <input name="telCelular" ng-model="crudVm.entity.pessoa.telFixo" ui-br-phone-number>
                            <div ng-messages="formEdit.telCelular.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Escolaridade</label>
                            <md-select ng-model="crudVm.entity.pessoa.escolaridade">
                                <md-option ng-repeat="item in crudVm.escolaridades" ng-value="{{item}}" ng-selected="item.id === crudVm.entity.pessoa.escolaridade.id" >
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container flex="20" class="md-block" flex-gt-xs>
                            <label>CEP</label>
                            <input name="cep" ng-model="crudVm.entity.pessoa.cep" ui-br-cep-mask>
                            <div ng-messages="formEdit.cep.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Cidade</label>
                            <md-autocomplete
                                md-selected-item="crudVm.entity.pessoa.cidade"
                                md-search-text="crudVm.searchText"
                                md-items="item in crudVm.querySearchCidade(crudVm.searchText)"
                                md-item-text="item.nome"
                                md-min-length="2"
                                md-float-label="Cidade"
                                placeholder="Cidade">
                                <span md-highlight-text="crudVm.searchText">{{item.nome}}</span>
                            </md-autocomplete>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Bairro</label>
                            <input name="bairro" ng-model="crudVm.entity.pessoa.bairro" md-max-length="100" required>
                            <div ng-messages="formEdit.bairro.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Endereço</label>
                            <input name="endereco" ng-model="crudVm.entity.pessoa.endereco" md-max-length="200" required>
                            <div ng-messages="formEdit.endereco.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-tab>
                <md-tab label="Objetivo">
                    <br /><br />
                    <md-content class="md-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Qual o seu objetivo?</label>
                            <textarea name="objetivo" ng-model="crudVm.entity.objetivo" required></textarea>
                            <div ng-messages="formEdit.objetivo.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Formação">
                    <br /><br />
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric ></th>
                                    <th md-column ><span>Formação</span></th>             
                                    <th md-column ><span>Curso</span></th>             
                                    <th md-column ><span>Instituição</span></th>             
                                    <th md-column ><span>Situação</span></th>             
                                    <th md-column ><span>Data Inicial</span></th>
                                    <th md-column ><span>Data Final</span></th>
                                    <th md-column ><span>Carga Horária</span></th>
                                    <th md-column md-numeric ></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="row in crudVm.entity.pessoa.curriculoFormacoes">
                                    <td md-cell width="15" class="button-column">
                                        <md-button class="md-icon-button md-subhead" style="font-size:7px"    aria-label="Edit" ng-click="crudVm.mostraEditFormacao(row)">
                                            <md-icon  md-svg-icon="edit" class="md-display-1">edit</md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>{{row.escolaridade.nome}}</td>   
                                    <td md-cell>{{row.curso}}</td>   
                                    <td md-cell>{{row.instituicao}}</td>   
                                    <td md-cell>{{crudVm.getNome(row.situacao)}}</td>   
                                    <td md-cell>{{row.dataInicial | date:'dd/MM/yyyy'}}</td>
                                    <td md-cell>{{row.dataFinal | date:'dd/MM/yyyy'}}</td>
                                    <td md-cell>{{row.cargaHoraria}}</td>
                                    <td md-cell md-numeric> 
                                        <md-button  class="md-icon-button md-subhead" aria-label="Delete" ng-click="crudVm.entity.pessoa.curriculoFormacoes.splice(crudVm.entity.pessoa.curriculoFormacoes.indexOf(row), 1)" >
                                            <ng-md-icon icon="delete"></ng-md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-card-actions layout="row" layout-align="end center">
                        <button class="md-button md-raised md-primary" type="button" ng-click="crudVm.mostraAddFormacao()">
                            <ng-md-icon icon="add"></ng-md-icon>
                        </button>
                    </md-card-actions>
                </md-tab>
                <md-tab label="Qualificação">
                    <br /><br />
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric ></th>
                                    <th md-column ><span>Nome</span></th>             
                                    <th md-column ><span>Carga Horária</span></th>             
                                    <th md-column ><span>Data Início</span></th>             
                                    <th md-column ><span>Data Fim</span></th>             
                                    <th md-column ><span>Descrição</span></th>
                                    <th md-column md-numeric ></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="row in crudVm.entity.pessoa.curriculoQualificacoes">
                                    <td md-cell width="15" class="button-column">
                                        <md-button class="md-icon-button md-subhead" style="font-size:7px"    aria-label="Edit" ng-click="crudVm.mostraEditQualificacao(row)">
                                            <md-icon  md-svg-icon="edit" class="md-display-1">edit</md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>{{row.nome}}</td>   
                                    <td md-cell>{{row.cargaHoraria}}</td>   
                                    <td md-cell>{{row.dataInicial | date:'dd/MM/yyyy'}}</td>   
                                    <td md-cell>{{row.dataFinal | date:'dd/MM/yyyy'}}</td>   
                                    <td md-cell>{{row.descricao}}</td>
                                    <td  md-cell md-numeric> 
                                        <md-button  class="md-icon-button md-subhead" aria-label="Delete" ng-click="crudVm.entity.pessoa.curriculoQualificacoes.splice(crudVm.entity.pessoa.curriculoQualificacoes.indexOf(row), 1)" >
                                            <ng-md-icon icon="delete"></ng-md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-card-actions layout="row" layout-align="end center">
                        <button class="md-button md-raised md-primary" type="button" ng-click="crudVm.mostraAddQualificacao()">
                            <ng-md-icon icon="add"></ng-md-icon>
                        </button>
                    </md-card-actions>
                </md-tab>
                <md-tab label="Experiência">
                    <br /><br />
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric ></th>
                                    <th md-column ><span>Cargo</span></th>                      
                                    <th md-column ><span>Empresa</span></th>             
                                    <th md-column ><span>Data Inicial</span></th>             
                                    <th md-column ><span>Data Final</span></th>
                                    <th md-column ><span>Pessoa Referência</span></th>
                                    <th md-column ><span>Contato Referência</span></th>
                                    <th md-column ><span>Descrição</span></th>
                                    <th md-column md-numeric ></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="row in crudVm.entity.pessoa.curriculoExperiencias">
                                    <td md-cell width="15" class="button-column">
                                        <md-button class="md-icon-button md-subhead" style="font-size:7px"    aria-label="Edit" ng-click="crudVm.mostraEditExperiencia(row)">
                                            <md-icon  md-svg-icon="edit" class="md-display-1">edit</md-icon>
                                        </md-button>
                                    </td>
                                    <td md-cell>{{row.cargo}}</td>   
                                    <td md-cell>{{row.empresa}}</td>   
                                    <td md-cell>{{row.dataInicial| date:'dd/MM/yyyy'}}</td>   
                                    <td md-cell>{{row.dataFinal| date:'dd/MM/yyyy'}}</td>
                                    <td md-cell>{{row.pessoaReferencia}}</td>
                                    <td md-cell>{{row.pessoaContato}}</td>
                                    <td md-cell>{{row.descricao}}</td>
                                    <td  md-cell md-numeric> 
                                        <md-button class="md-icon-button md-subhead" aria-label="Delete" ng-click="crudVm.entity.pessoa.curriculoExperiencias.splice(crudVm.entity.pessoa.curriculoExperiencias.indexOf(row), 1)" >
                                            <ng-md-icon icon="delete"></ng-md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-card-actions layout="row" layout-align="end center">
                        <button class="md-button md-raised md-primary" type="button" ng-click="crudVm.mostraAddExperiencia()">
                            <ng-md-icon icon="add"></ng-md-icon>
                        </button>
                    </md-card-actions>
                </md-tab>
                <md-tab label="Extra">
                    <br /><br />
                    <md-content class="md-padding">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Informações Adicionais</label>
                            <textarea name="infadicional" ng-model="crudVm.entity.infAdicional"></textarea>
                            <div ng-messages="formEdit.infadicional.$error">
                                <div ng-message="required">Campo Obrigatório.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</form>