<md-dialog aria-label="Cargo" style="width:90%" ng-cloak>

    <form name="formModal" ng-submit="modalVm.save($event, formModal.$valid)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Manutenção de Experiência</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-card>

            <md-card-content>

                <md-input-container flex="" class="md-block" flex-gt-xs>
                    <label>Cargo</label>
                    <input  name="cargo" ng-model="modalVm.entity.cargo" required>
                    <div ng-messages="formEdit.cargo.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>

                </md-input-container>
                <md-input-container flex="" class="md-block" flex-gt-xs>
                    <label>Empresa</label>
                    <input  name="empresa" ng-model="modalVm.entity.empresa" required>
                    <div ng-messages="formEdit.empresa.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>

                </md-input-container>
                <md-input-container flex="" class="md-block" flex-gt-xs>
                    <label>Descricao</label>
                    <input  name="descricao" ng-model="modalVm.entity.descricao" required>
                    <div ng-messages="formEdit.descricao.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>

                </md-input-container>
                <md-input-container flex="" class="md-block" flex-gt-xs>
                    <label>Pessoa de Referência</label>
                    <input  name="pessoaReferencia" ng-model="modalVm.entity.pessoaReferencia" required>
                    <div ng-messages="formEdit.pessoaReferencia.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>

                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container flex="" class="md-block" flex-gt-xs>
                        <label>Contato da Pessoa de Referência</label>
                        <input  name="pessoaContato" ng-model="modalVm.entity.pessoaContato" required>
                        <div ng-messages="formEdit.pessoaContato.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>

                    </md-input-container>
                    <md-input-container flex="" class="md-block" flex-gt-xs>
                        <label>Data Inicial</label>
                        <input  name="dataInicial" ng-model="modalVm.entity.dataInicial">
                    </md-input-container>

                    <md-input-container flex="" class="md-block" flex-gt-xs>
                        <label>Data Final</label>
                        <input  name="dataFinal" ng-model="modalVm.entity.dataFinal">
                    </md-input-container>
                </div>



            </md-card-content>
        </md-card>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button type="submit" class="md-primary md-raised" style="margin-right:20px;">
                Salvar
            </md-button>
            <md-button ng-click="modalVm.cancel($event)" style="margin-right:20px;">
                Fechar
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>