<md-dialog aria-label="Cargo" style="width:90%" ng-cloak>

    <form name="formModal" ng-submit="modalVm.save($event, formModal.$valid)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Manutenção de Cargo do funcionário</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-card>

            <md-card-content>

<!--                <md-datepicker ng-model="modalVm.entity.dataEntrada" required md-placeholder="Data entrada"></md-datepicker>-->
                    <div layout-gt-sm="row">
                        <md-input-container flex="30" class="md-block" flex-gt-xs>
                            <label>Titulação</label>
                            <input  name="titulacao" ng-model="modelVm.entity.titulacao" required>
                            <div ng-messages="formEdit.titulacao.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Curso</label>
                            <input  name="curso" ng-model="modelVm.entity.curso" required>
                            <div ng-messages="formEdit.curso.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="" class="md-block" flex-gt-xs>
                            <label>Instituição</label>
                            <input  name="instituicao" ng-model="modelVm.entity.instituicao" required>
                            <div ng-messages="formEdit.instituicao.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>


            </md-card-content>
        </md-card>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button type="submit" class="md-primary md-raised" style="margin-right:20px;">
                Salvar
            </md-button>
            <md-button ng-click="modalVm.cancel($event)" style="margin-right:20px;">
                Fechar
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>