<div class="md-fab-bottom-right app-fixed-bottom-right fade">
    <md-button class="md-fab flipInX flipOutX" ng-show="crudVm.selectedItems.length" aria-label="Delete" ng-click="crudVm.showDelete($event)" >
        <ng-md-icon icon="delete"></ng-md-icon>
    </md-button>
    <md-button class="md-fab "  aria-label="Add" ng-click="crudVm.showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
</div>
<md-card>
    <md-table-container>
        <table md-table md-progress="promise"  md-row-select ng-model="crudVm.selectedItems" md-progress="crudVm.promise" >
            <thead md-head md-order="crudVm.query.order" md-on-reorder="crudVm.onReorder">
                <tr md-row>
                    <th md-column md-numeric ></th>
                    <th md-column md-order-by="descricao"><span>Descrição</span></th>
                    <th md-column md-order-by="cargo.nome"><span>Cargo</span></th>
                    <th md-column md-order-by="quantidade"><span>Quantidade</span></th>
                    <th md-column md-order-by="dataRequisicao"><span>Data</span></th>
                    <th md-column md-order-by="usuario.pessoa.nome"><span>Solicitante</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="row" md-select-id="{{row}}" md-auto-select ng-repeat="row in crudVm.list">
                    <td md-cell width="15" class="button-column">

            <md-button class="md-icon-button md-subhead" style="font-size:7px"    aria-label="Edit" ng-click="crudVm.showEdit($event, row.id)">
                <md-icon  md-svg-icon="edit" class="md-display-1">edit</md-icon>
            </md-button>
            </td>
            <td md-cell>{{row.descricao}}</td>   
            <td md-cell>{{row.cargo.nome}}</td>
            <td md-cell>{{row.quantidade}}</td>
            <td md-cell>{{row.dataRequisicao | date:'dd/MM/yyyy'}}</td>
            <td md-cell>{{row.usuario.pessoa.nome}}</td>
            </tr>
            </tbody>
        </table>

        <md-table-pagination md-label="{{appVm.labelPagination}}" md-limit="crudVm.query.limit" md-page="crudVm.query.page" md-total="{{crudVm.count}}" md-on-paginate="crudVm.onPaginate" md-page-select></md-table-pagination>
    </md-table-container>
</md-card>

