

<div >
    <md-card ng-repeat="row in crudVm.list" style="width: 48%; float: left; height: 80%">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{row.cargo.nome}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <!--                        <md-card-icon-actions>
                                        <md-button class="md-icon-button" aria-label="Favorite">
                                            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="Share">
                                            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                                        </md-button>
                                    </md-card-icon-actions>-->
            <div style="margin: 5% 0 2% 2%">
                <md-button class="md-primary md-raised" ng-show="!crudVm.isCandidato(row.candidatos)" ng-click="crudVm.inscricaoCandidato(row.id)">Inscrever-se</md-button>
                <md-button class="md-primary md-raised" ng-show="crudVm.isCandidato(row.candidatos)" disabled>Inscrito</md-button>
            </div>
            <!--                        <md-button>Action 2</md-button>-->
        </md-card-actions>
        <md-card-content style="text-transform: uppercase; text-align: justify; height: 85%; overflow:auto; font-size: 14px;">
            <h4>Atribuições do Cargo</h4>
            <p>{{row.cargo.atribuicoes}}</p>

            <h4>Número de Vagas</h4>
            <p>{{row.quantidade}}</p>

            <h4>Descrição</h4>
            <p>{{row.descricao}}</p>

            <h4>Perfil Desejado</h4>
            <p>{{row.perfil}}</p>

            <h4>Requisitos e Competências</h4>
            <p ng-repeat="c in row.competencias">{{c.descricao}}</p>
        </md-card-content>
    </md-card>
</div>

</div>
