<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/praticarh3</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123</property>
    <mapping class="br.com.empresa.rh.model.EventoMensal"/>
    <mapping class="br.com.empresa.rh.model.FaixaSalarial"/>
    <mapping class="br.com.empresa.rh.model.FolhaCalculadaEvento"/>
    <mapping class="br.com.empresa.rh.model.NecessidadeEspecial"/>
    <mapping class="br.com.empresa.rh.model.QuestaoOpcao"/>
    <mapping class="br.com.empresa.rh.model.Pessoa"/>
    <mapping class="br.com.empresa.rh.model.Evento"/>
    <mapping class="br.com.empresa.rh.model.Estado"/>
    <mapping class="br.com.empresa.rh.model.SindicatoHasFuncionarioCargoId"/>
    <mapping class="br.com.empresa.rh.model.Funcionario"/>
    <mapping class="br.com.empresa.rh.model.Candidato"/>
    <mapping class="br.com.empresa.rh.model.CargoNivel"/>
    <mapping class="br.com.empresa.rh.model.Entrevista"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioAcidente"/>
    <mapping class="br.com.empresa.rh.model.Dependente"/>
    <mapping class="br.com.empresa.rh.model.Cidade"/>
    <mapping class="br.com.empresa.rh.model.Curriculo"/>
    <mapping class="br.com.empresa.rh.model.Cargo"/>
    <mapping class="br.com.empresa.rh.model.Qualificacao"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioFaixa"/>
    <mapping class="br.com.empresa.rh.model.Usuario"/>
    <mapping class="br.com.empresa.rh.model.Tabela"/>
    <mapping class="br.com.empresa.rh.model.VinculoEmpregaticio"/>
    <mapping class="br.com.empresa.rh.model.Auditoria"/>
    <mapping class="br.com.empresa.rh.model.Empresa"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioCargoHasMotivoFalta"/>
    <mapping class="br.com.empresa.rh.model.Nivel"/>
    <mapping class="br.com.empresa.rh.model.TabelaValores"/>
    <mapping class="br.com.empresa.rh.model.Vagas"/>
    <mapping class="br.com.empresa.rh.model.Escolaridade"/>
    <mapping class="br.com.empresa.rh.model.FolhaCalculada"/>
    <mapping class="br.com.empresa.rh.model.Unidade"/>
    <mapping class="br.com.empresa.rh.model.Resposta"/>
    <mapping class="br.com.empresa.rh.model.Ferias"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioQualificacao"/>
    <mapping class="br.com.empresa.rh.model.EventoFuncionario"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioCargoHasMotivoFaltaId"/>
    <mapping class="br.com.empresa.rh.model.Competencia"/>
    <mapping class="br.com.empresa.rh.model.Banco"/>
    <mapping class="br.com.empresa.rh.model.SindicatoHasFuncionarioCargo"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioCargo"/>
    <mapping class="br.com.empresa.rh.model.Sindicato"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioCargoHasAdvertenciaTipo"/>
    <mapping class="br.com.empresa.rh.model.Cor"/>
    <mapping class="br.com.empresa.rh.model.FuncionarioCargoHasAdvertenciaTipoId"/>
    <mapping class="br.com.empresa.rh.model.TipoSanguineo"/>
    <mapping class="br.com.empresa.rh.model.AdvertenciaTipo"/>
    <mapping class="br.com.empresa.rh.model.FaixaSalarialValor"/>
    <mapping class="br.com.empresa.rh.model.CargoHasEvento"/>
    <mapping class="br.com.empresa.rh.model.CargoHasEventoId"/>
    <mapping class="br.com.empresa.rh.model.MotivoFalta"/>
    <mapping class="br.com.empresa.rh.model.FaixaSalarialValorId"/>
    <mapping class="br.com.empresa.rh.model.EstadoCivil"/>
    <mapping class="br.com.empresa.rh.model.Parametro"/>
    <mapping class="br.com.empresa.rh.model.Menu"/>
    <mapping class="br.com.empresa.rh.model.request.UsuarioSenha"/>
    <mapping class="br.com.empresa.rh.model.request.TableRequest"/>
    <mapping class="br.com.empresa.rh.model.response.LoginResponse"/>
    <mapping class="br.com.empresa.rh.model.response.RestResponseUser"/>
  </session-factory>
</hibernate-configuration>
