<md-dialog aria-label="Cargo" style="width:90%" ng-cloak>

    <form name="formModal" ng-submit="modalVm.save($event, formModal.$valid)" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Manutenção de Acidentes de trabalho</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-card>

            <md-card-content>
                <md-datepicker ng-model="modalVm.entity.dataOcorrencia" required md-placeholder="Data da ocorrencia"></md-datepicker>
            </md-card-content>

            <div layout="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Nível de Lesão</label>
                    <input name="nivel" type="number" ng-model="modalVm.entity.nivelLesao" ng-required="true" min="1" max="3">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Perda</label>
                    <input name="perda" type="text" ng-model="modalVm.entity.perdaPorcentagem" ng-required="true" minlength="0" maxlength="100"
                        ui-percentage-mask>
                </md-input-container>

            </div>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Descrição</label>
                <input name="descricao" type="textnumber" ng-model="modalVm.entity.descricao" ng-required="true"/>
            </md-input-container>

        </md-card>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button type="submit" class="md-primary md-raised" style="margin-right:20px;">
                Salvar
            </md-button>
            <md-button ng-click="modalVm.cancel($event)" style="margin-right:20px;">
                Fechar
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>