<md-dialog aria-label="Cargo" style="width:90%" ng-cloak>

    <form name="formModal" ng-submit="modalVm.save($event, formModal.$valid)">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Manutenção de Advertência</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-card>

            <md-card-content>
                <md-datepicker ng-model="modalVm.entity.dataOcorrencia" required md-placeholder="Data da ocorrencia"></md-datepicker>
            </md-card-content>

            <div layout="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Advertencia</label>
                    <md-select ng-model="modalVm.entity.advertenciaTipo">
                        <md-option ng-repeat="item in modalVm.advertencias" ng-value="{{item}}" ng-selected="item.id === modalVm.entity.advertenciaTipo.id">
                            {{item.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Descrição</label>
                <input name="descricao" type="textnumber" ng-model="modalVm.entity.descricao" ng-required="true"/>
            </md-input-container>

        </md-card>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button type="submit" class="md-primary md-raised" style="margin-right:20px;">
                Salvar
            </md-button>
            <md-button ng-click="modalVm.cancel($event)" style="margin-right:20px;">
                Fechar
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>