md-content.md-default-theme,md-content.content-background {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%; 
}

h2 {
    font-weight: 400;
}
.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}
md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}
md-sidenav {
    fill: #737373;

}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px; 
}
.user-avatar {
    border-radius: 99%;
}


.app-fixed-bottom-right{
    position:fixed;
    right:20px;
    bottom:10px;
    z-index: 100;
}

.md-fix-error-space > .md-errors-spacer{
    visibility: hidden;
    display: none!important;
}

.table-button{
    fill:rgba(0,0,0,.54);
    width: 20px;
}
.button-column{
    
    fill:rgba(0,0,0,.54);
    padding:3px!important;
}

.md-white-icon svg{
    fill:#fff!important;
}