md-content.md-default-theme,md-content.content-background {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%; 
}

h2 {
    font-weight: 400;
}
.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}
md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}
md-sidenav {
    fill: #737373;

}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px; 
}
.user-avatar {
    border-radius: 99%;
}


.app-fixed-bottom-right{
    position:fixed;
    right:20px;
    bottom:10px;
    z-index: 100;
}

.md-fix-error-space > .md-errors-spacer{
    visibility: hidden;
    display: none!important;
}

.table-button{
    fill:rgba(0,0,0,.54);
    width: 20px;
}
.button-column{

    fill:rgba(0,0,0,.54);
    padding:3px!important;
}

.md-white-icon svg{
    fill:#fff!important;
}

.span-dado-folha:not(:first-child){
    padding-left:30px;
}

.p-l-10{
    padding-left: 10px;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-10{
    padding-right: 10px;
}
.p-r-20{
    padding-right: 20px;
}
.p-t-10{
    padding-top: 10px;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-r-30{
    margin-right: 30px;
}
.m-r-40{
    margin-right: 40px;
}
.m-t-10{
    margin-top:10px;
}
 .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
    
    .pull-right{
        float:right;
        display: block;
    }