<form name="formCalculoFolha" novalidate ng-submit="crudVm.save($event, formCalculoFolha.$valid)">
    <md-card>
        <md-card-content>
            <h2>Cálculo de folha</h2>
            <md-content>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Empresa</label>
                    <md-select required name="empresa" ng-model="crudVm.entity.empresa" >
                        <md-option ng-repeat="item in crudVm.empresas" ng-value="{{item}}" ng-selected="$first">
                            {{item.nome}} - {{item.cnpj}}
                        </md-option>
                    </md-select>
                    <div ng-messages="formCalculoFolha.empresa.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container>


                <div layout-gt-sm="row">
                    <md-input-container>
                        <md-switch ng-model="crudVm.entity.todosEmpresa" ng-init="crudVm.entity.todosEmpresa = true" aria-label="Todos da empresa">
                            Todos da empresa
                        </md-switch>
                    </md-input-container>
                    <md-select name="funcionarios" ng-required="!crudVm.entity.todosEmpresa" ng-disabled="crudVm.entity.todosEmpresa" style="padding-left: 30px;width:100%" ng-model="crudVm.entity.funcionarios" placeholder="Funcionários" multiple="true">
                        <md-optgroup label="{{group.nome}}" ng-repeat="group in crudVm.cargos">
                            <md-option ng-value="item" ng-repeat="item in group.funcionarioCargos">{{item.funcionario.pessoa.nome}}</md-option>
                        </md-optgroup>
                    </md-select>

                    <div ng-messages="formCalculoFolha.funcionarios.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </div>
                <md-input-container class="md-block" flex-gt-sm>

                    <md-radio-group ng-model="crudVm.entity.tipo" name="tipo" ng-required="true">
                        <md-radio-button value="1" class="md-primary">Folha do mês</md-radio-button>
                        <md-radio-button value="2"> Folha de férias </md-radio-button>
                        <md-radio-button value="3">Folha complementar</md-radio-button>


                    </md-radio-group>
                    <div ng-messages="formCalculoFolha.tipo.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Mês</label>
                        <md-select ng-required="true" md-name="mes" ng-model="crudVm.entity.mes">
                            <md-option ng-repeat="item in crudVm.meses" value="{{item.numero}}">
                                {{item.nome}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formCalculoFolha.mes.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Ano</label>
                        <input ng-required="true" type="number" step="any" name="ano" ng-model="crudVm.entity.ano" min="2000"
                               max="2100" ng-pattern="/^[0-9]{4}$/" />
                        <div ng-messages="formCalculoFolha.ano.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>

            </md-content>
            <md-button class="md-raised md-warn" type="submit">Cálcular</md-button>

        </md-card-content>
    </md-card>
</form>
