<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Mês</label>
        <md-select ng-required="isRequired" name="mes" ng-model="mes">
            <md-option ng-repeat="item in meses" ng-value="{{item.numero}}">
                {{item.nome}}
            </md-option>
        </md-select>
        
    </md-input-container>
    <md-input-container class="md-block">
        <label>Ano</label>
        <input ng-required="isRequired" type="number" step="any" name="ano" ng-model="ano" min="2000"
               max="2100" ng-pattern="/^[0-9]{4}$/" />
        
    </md-input-container>
</div>