<script type="text/ng-template" id="modal.edit.evento.html">
   <md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Testar resultado</h2>
          <span flex></span>
         
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
        {{resultado}}

        </div>
      </md-dialog-content>
        <md-dialog-actions layout="row">

          <span flex></span>
          <md-button ng-click="testar()">
              Testar
          </md-button>
          <md-button ng-click="cancel()" style="margin-right:20px;">
              Cancelar
          </md-button>
        </md-dialog-actions>
    </form>
  </md-dialog>
</script>

<form name="formEdit" novalidate ng-submit="crudVm.save($event, formEdit.$valid)">

    <div class="md-fab-bottom-right app-fixed-bottom-right">

        <button type="submit" class="md-button md-fab"  aria-label="save" >
            <ng-md-icon icon="save"></ng-md-icon>
        </button>

        <md-button class="md-fab "  aria-label="Delete" ng-click="crudVm.cancel($event)" >
            <ng-md-icon icon="cancel"></ng-md-icon>
        </md-button>
    </div>


    <ng-switch on="crudVm.sharedData.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()"
             >
            <md-card >


                <md-card-content>
                    <h2>Evento</h2>
                    <md-content>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nome</label>
                            <input  name="nome" ng-model="crudVm.entity.nome" md-maxlength="255" required>
                            <div ng-messages="formEdit.nome.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>

                        </md-input-container>
                        <section layout="row" flex>
                            <div flex="50">
                                <md-input-container class="md-input-has-value">
                                    <label>Tipo</label>
                                    <md-radio-group ng-model="crudVm.entity.tipo">
                                        <md-radio-button value="1">Base</md-radio-button>
                                        <md-radio-button value="2">Provento</md-radio-button>
                                        <md-radio-button value="3">Desconto</md-radio-button>
                                        <md-radio-button value="4">Benefício social</md-radio-button>
                                    </md-radio-group>
                                    <div ng-messages="formEdit.nome.$error">
                                        <div ng-message="required">Campo obrigatório.</div>
                                    </div>

                                </md-input-container>
                            </div>
                            <div flex="50">
                                <md-checkbox ng-model="crudVm.entity.padrao" >
                                    Padrão
                                </md-checkbox>
                                <md-checkbox ng-model="crudVm.entity.visivelFolha" >
                                    Visível na folha
                                </md-checkbox>
                            </div>
                        </section>

                    </md-content>

                </md-card-content>
            </md-card>
        </div>

        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()"
             >
            <md-card >


                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Testes
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="crudVm.test($event)">
                                    Testar resultado
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Documentação
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button >
                                    Testar com funcionário
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
                <md-card-content>
                    <md-content>

                        <div ui-ace="{
                             require: ['ace/ext/language_tools'],
                             mode:'javascript',
                             advanced: {
                             enableSnippets: true,
                             enableBasicAutocompletion: true,
                             enableLiveAutocompletion: true
                             }
                             }"
                             ng-model="crudVm.entity.script"
                             ></div>
                        <style>
                            .ace_editor { height: 200px; }
                        </style>

                    </md-content>

                </md-card-content>
            </md-card>
        </div>
    </ng-switch>



</form>
