<script type="text/ng-template" id="modal.edit.evento.html">
    <md-dialog aria-label="Mango (Fruit)" style="width:90%"  ng-cloak>
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
    <h2>Testar resultado</h2>
    <span flex></span>

    </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="md-dialog-content">

    <md-autocomplete
    md-selected-item="funcionario"
    md-search-text="searchText"
    md-items="item in querySearch(crudVm.searchText)"
    md-item-text="item.funcionario.pessoa.nome"
    md-min-length="0"
    placeholder="Funcionário">
    <span md-highlight-text="crudVm.searchText">{{item.funcionario.pessoa.nome}} - {{item.cargo.nome}}</span>
    </md-autocomplete>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Mês</label>
                        <md-select required name="mes" ng-model="entity.mes">
                            <md-option ng-repeat="item in meses" value="{{item.numero}}">
                                {{item.nome}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formEdit.mes.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Ano</label>
                        <input required type="number" step="any" name="ano" ng-model="entity.ano" min="2000"
                               max="2100" ng-pattern="/^[0-9]{4}$/" />
                        <div ng-messages="formEdit.ano.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>

    <p class="md-title">Eventos (Resultado)</p>

    <table md-table>
    <thead md-head >
    <tr md-row>
    <th md-column><span>Nome</span></th>
    <th md-column><span>Visível Folha</span></th>         
    <th md-column><span>Tipo</span></th>         
    <th md-column><span>Valor</span></th>  
    <th md-column><span>Ref.</span></th>
    <th md-column><span>Aplicável</span></th>  

    </tr>
    </thead>
    <tbody md-body>
    <tr ng-repeat="row in (eventos.eventos || [])">

    <td md-cell>{{row.evento.nome}}</td>   
    <td md-cell>{{row.evento.visivelFolha}}</td>                
    <td md-cell>{{row.evento.tipo}}</td>   
    <td md-cell>{{row.valorCalculado}}</td>   
    <td md-cell>{{row.referencia}}</td>   
    <td md-cell>{{row.aplicavel}}</td>   


    </tr>
    </tbody>
    </table>
    <p class="md-title">LOG(console.log)</p>
    <div ui-ace="{
    require: ['ace/ext/language_tools'],
    mode:'javascript',
    advanced: {
    enableSnippets: true,
    enableBasicAutocompletion: true,
    enableLiveAutocompletion: true
    }
    }"
    ng-model="log"
    ></div>

    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

    <span flex></span>
    <md-button ng-click="testar()">
    Testar
    </md-button>
    <md-button ng-click="cancel()" style="margin-right:20px;">
    Cancelar
    </md-button>
    </md-dialog-actions>
    </form>
    </md-dialog>
</script>
<form name="formEdit" novalidate ng-submit="crudVm.save($event, formEdit.$valid)">

    <div class="md-fab-bottom-right app-fixed-bottom-right">

        <button type="submit" class="md-button md-fab"  aria-label="save" >
            <ng-md-icon icon="save"></ng-md-icon>
        </button>

        <md-button class="md-fab "  aria-label="Delete" ng-click="crudVm.cancel($event)" >
            <ng-md-icon icon="cancel"></ng-md-icon>
        </md-button>
    </div>


    <ng-switch on="crudVm.sharedData.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()"
             >
            <md-card >


                <md-card-content>
                    <h2>Evento</h2>
                    <md-content>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nome</label>
                            <input  name="nome" ng-model="crudVm.entity.nome" md-maxlength="255" required>
                            <div ng-messages="formEdit.nome.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>

                        </md-input-container>
                        <section layout="row" flex>
                            <div flex="50">
                                <md-input-container class="md-input-has-value">
                                    <label>Tipo</label>
                                    <md-radio-group ng-model="crudVm.entity.tipo">
                                        <md-radio-button value="1">Base</md-radio-button>
                                        <md-radio-button value="2">Provento</md-radio-button>
                                        <md-radio-button value="3">Desconto</md-radio-button>
                                        <md-radio-button value="4">Benefício social</md-radio-button>
                                        <md-radio-button value="5">Finalização</md-radio-button>

                                    </md-radio-group>
                                    <div ng-messages="formEdit.nome.$error">
                                        <div ng-message="required">Campo obrigatório.</div>
                                    </div>

                                </md-input-container>
                            </div>
                            <div flex="50">
                                <md-checkbox ng-model="crudVm.entity.padrao" >
                                    Padrão
                                </md-checkbox>
                                <md-checkbox ng-model="crudVm.entity.visivelFolha" >
                                    Visível na folha
                                </md-checkbox>
                            </div>
                        </section>

                    </md-content>

                </md-card-content>
            </md-card>
        </div>

        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()"
             >

            <md-card >


                <md-card-content>
                    <h2>Dependências</h2>

                    <md-table-container>
                        <table md-table >

                            <tbody md-body>
                                <tr md-row md-auto-select ng-repeat="row in crudVm.entity.eventoDependencias">

                                    <td md-cell>
                            <md-input-container>
                                <label>Nome</label>
                                <input type="text" required max-length="100" ng-model="row.nomeVariavel"/>
                            </md-input-container>
                            </td>  
                            <td md-cell>
                            <md-select placeholder="Evento" required name="empresa" ng-model="row.eventoDependencia" >
                                <md-option ng-selected="item.id === row.eventoDependencia.id" ng-repeat="item in crudVm.eventos" ng-value="{{item}}" required>
                                    {{item.nome}} - {{item.tipo}}
                                </md-option>
                            </md-select>
                            </td>
                            <td  md-cell md-numeric> 
                            <md-button  aria-label="Delete" ng-click="crudVm.entity.eventoDependencias.splice(crudVm.entity.eventoDependencias.indexOf(row), 1)" >
                                <ng-md-icon icon="delete"></ng-md-icon>
                            </md-button>

                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <button class="md-button md-raised md-primary" ng-click="crudVm.entity.eventoDependencias.push({})">
                        <ng-md-icon icon="add"></ng-md-icon>
                    </button>

                </md-card-content>

            </md-card>
            <md-card >


                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Testes
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="crudVm.test($event)">
                                    Testar resultado
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Documentação
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button >
                                    Testar com funcionário
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
                <md-card-content>
                    <md-content>

                        <div ui-ace="{
                             require: ['ace/ext/language_tools'],
                             mode:'javascript',
                             advanced: {
                             enableSnippets: true,
                             enableBasicAutocompletion: true,
                             enableLiveAutocompletion: true
                             }
                             }"
                             ng-model="crudVm.entity.script"
                             ></div>
                        <style>
                            .ace_editor { height: 200px; }
                        </style>

                    </md-content>

                </md-card-content>
            </md-card>
        </div>
    </ng-switch>



</form>
