<form name="formEdit" novalidate ng-submit="crudVm.save($event,formEdit.$valid)">

    <div class="md-fab-bottom-right app-fixed-bottom-right">

        <button type="submit" class="md-button md-fab" aria-label="save">
        <ng-md-icon icon="save"></ng-md-icon>
    </button>

        <md-button class="md-fab " aria-label="Delete" ng-click="crudVm.cancel($event)">
            <ng-md-icon icon="cancel"></ng-md-icon>
        </md-button>
    </div>


    <md-card>


        <md-card-content>
            <h2>Tabela</h2>
            <md-content>
                <md-autocomplete md-items="item in crudVm.querySearchTipo(crudVm.searchText)" md-item-text="item" md-selected-item="crudVm.entity.tipo"
                    md-search-text="crudVm.searchText" md-min-length="0" md-input-name="tipo" md-floating-label="Tipo" placeholder="Tipo">
                    <md-item-template>
                        <span md-highlight-text="crudVm.searchText" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhuma tabela do tipo "{{ctrl.searchText}}" foi encontrada.
                        <md-button ng-click="crudVm.newTipo(crudVm.searchText)">Criar um novo!</md-button>
                    </md-not-found>
                    <div ng-messages="formEdit.tipo.$error" ng-if="formEdit.tipo.$dirty">
                        <div ng-message="required">Campo Obrigatório</div>
                    </div>
                </md-autocomplete>

                <datepicker-mes ano="crudVm.ano" mes="crudVm.mes" required="true"></datepicker-mes>


            </md-content>

        </md-card-content>
    </md-card>
    <md-card>

        <md-card-content>
            <h2>Valores da tabela</h2>

            <md-list>
                <md-list-item class="md-3-line" ng-repeat="row in crudVm.entity.tabelaValoreses | orderBy:'valorInicial'">
                    <div class="md-list-item-text">
                        <md-input-container>
                            <label>Valor Inicial</label>
                            <input type="text" required ui-money-mask ng-model="row.valorInicial" />
                        </md-input-container>

                        <md-input-container>
                            <label>Valor Final</label>
                            <input type="text" ui-money-mask ng-model="row.valorFinal" />
                        </md-input-container>

                        <md-input-container>
                            <label>Aliquota</label>
                            <input type="text" ui-percentage-mask max="1" ng-model="row.aliquota" />
                        </md-input-container>

                        <md-input-container>
                            <label>Desconto/Valor</label>
                            <input type="text" ui-money-mask ng-model="row.desconto" />
                        </md-input-container>

                    </div>
                    <md-button aria-label="Delete" ng-click="crudVm.entity.tabelaValoreses.splice(crudVm.entity.tabelaValoreses.indexOf(row), 1)">
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <button class="md-button md-raised md-primary" type="button" ng-click="crudVm.entity.tabelaValoreses.push({})">
                        <ng-md-icon icon="add"></ng-md-icon>
                    </button>
        </md-card-actions>
    </md-card>
</form>