<html lang="en" ng-app="app" ng-controller="AppController as appVm">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.layouts.min.css">
        <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
        <link href="bower_components/angular-hotkeys/build/hotkeys.min.css" rel="stylesheet" type="text/css" />
        <!--        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">-->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/animations.css">
        <title>{{appVm.workspace.title|| "RH"}}</title>
    </head>

    <body layout="row" ng-cloak>

    </div>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2" ng-show="appVm.authorizationData.currentUser">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>{{appVm.authorizationData.currentUser.nome}}</div>
            <div>{{appVm.authorizationData.currentUser.email}}</div>
        </div>
    </md-toolbar>
    <md-list>
        <div ng-repeat="submenu in appVm.authorization.niveis">
            <md-subheader>{{submenu.title}}</md-subheader>
            <md-list-item ng-repeat="item in submenu.links">

                <md-item-content md-ink-ripple layout="row" ng-click='appVm.goTo(item.link)' layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>

            </md-list-item>
            <md-divider></md-divider>

        </div>
    </md-list>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
    <div ui-view="buttons">

    </div>
    <md-toolbar ng-show="!appVm.workspace.showSearch" class="md-whiteframe-2dp">
        <div class="md-toolbar-tools">
            <md-button ng-click="appVm.toggleSidenav('left')" class="md-icon-button" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                {{appVm.workspace.title}}
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-show="appVm.workspace.searchEnable" ng-click="appVm.workspace.showSearch = !appVm.workspace.showSearch"
                       class="md-mini md-ink-ripple md-icon-button">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-show="appVm.authorizationData.currentUser" ng-click="appVm.showListBottomSheet($event)"
                       class="md-mini md-ink-ripple md-icon-button">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>
        <div ui-view="top">

        </div>
        <md-progress-linear md-mode="indeterminate" ng-show="appVm.workspace.currentLoading" ></md-progress-linear>


    </md-toolbar>
    <md-toolbar class="md-hue-1 md-whiteframe-2dp" ng-show="appVm.workspace.showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="appVm.toggleSearch()" aria-label="Back" class="md-mini md-ink-ripple md-icon-button">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Voltar
            </h3>
            <md-input-container md-theme="input" flex md-no-float class="md-fix-error-space">
                <label>&nbsp;</label>
                <input ng-model="appVm.workspace.search" focus-on='!!appVm.workspace.showSearch' placeholder="Informe a busca">
            </md-input-container>

            <md-button aria-label="Open Settings" ng-click="appVm.showListBottomSheet($event)" class="md-mini md-ink-ripple md-icon-button">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-content flex md-scroll-y class="content-background md-default-theme">
        <ui-view layout="column" layout-fill layout-padding autoscroll="true">

        </ui-view>
    </md-content>
</div>
<!-- Angular Material Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/FileSaver/FileSaver.min.js"></script>

<script src="app/app.module.js"></script>
<script src="app/app.config.js"></script>
<script src="app/app.route.js"></script>
<script src="app/app.constants.js"></script>

<script src="app/folha/folha-modal.controller.js"></script>

<script src="app/folha/app.route.js"></script>
<script src="app/recrutamento/app.route.js"></script>
<script src="app/cargo/app.route.js"></script>
<script src="app/ficha/app.route.js"></script>
<script src="app/services/permissoes.service.js"></script>
<script src="app/services/download.service.js"></script>
<script src="app/services/folha.hub.service.js"></script>

<script src="app/folha/folha-modal.controller.js"></script>
<!-- questao -->
<script src="app/services/questao.service.js"></script>
<script src="app/recrutamento/questao.controller.js"></script>
<script src="app/recrutamento/questao.edit.controller.js"></script>
<!-- /questao -->
<script src="app/folha/evento-cargo.controller.js"></script>

<script src="app/services/cargohasevento.service.js"></script>
<script src="app/application/alterar-nivel.controller.js"></script>

<!-- necessidade-pessoa -->
<script src="app/services/necessidade-pessoa.service.js"></script>
<script src="app/recrutamento/necessidade-pessoa.controller.js"></script>
<script src="app/recrutamento/necessidade-pessoa.edit.controller.js"></script>
<!-- /necessidade-pessoa -->

<!-- vagas -->
<script src="app/services/vagas.service.js"></script>
<script src="app/recrutamento/vagas.controller.js"></script>
<script src="app/recrutamento/vagas.edit.controller.js"></script>
<!-- /vagas -->

<!-- usuario -->
<script src="app/services/usuario.service.js"></script>
<script src="app/recrutamento/usuario.controller.js"></script>   
<script src="app/recrutamento/usuario.edit.controller.js"></script>   
<!-- /usuario -->

<!-- curriculo -->
<script src="app/services/curriculo.service.js"></script>
<script src="app/recrutamento/curriculo.controller.js"></script>
<script src="app/recrutamento/curriculo.edit.controller.js"></script>
<!-- /curriculo -->

<!-- cargo -->
<script src="app/services/cargo.service.js"></script>
<script src="app/recrutamento/cargo.controller.js"></script>   
<script src="app/recrutamento/cargo.edit.controller.js"></script>
<!-- /cargo -->

<!-- estado-civil -->
<script src="app/services/estado-civil.service.js"></script>
<!--    <script src="app/subfolder/estado-civil.controller.js"></script>   
    <script src="app/subfolder/estado-civil.edit.controller.js"></script>   -->
<!-- /estado-civil -->

<!-- curriculo-formacao -->
<script src="app/services/curriculo-formacao.service.js"></script>  
<script src="app/recrutamento/curriculo-formacao.edit.controller.js"></script>   
<!-- /curriculo-formacao -->

<!-- curriculo-qualificacao -->
<script src="app/services/curriculo-qualificacao.service.js"></script>
<script src="app/recrutamento/curriculo-qualificacao.edit.controller.js"></script>   
<!-- /curriculo-qualificacao -->

<!-- curriculo-experiencia -->
<script src="app/services/curriculo-experiencia.service.js"></script>
<script src="app/recrutamento/curriculo-experiencia.edit.controller.js"></script>   
<!-- /curriculo-experiencia -->

<!-- escolaridade -->
<script src="app/services/escolaridade.service.js"></script>
<!--    <script src="app//escolaridade.controller.js"></script>   
    <script src="app//escolaridade.edit.controller.js"></script>   -->
<!-- /escolaridade -->

<!-- cbo -->
<script src="app/services/cbo.service.js"></script>
<script src="app/cargo/cbo.controller.js"></script>
<script src="app/cargo/cbo.edit.controller.js"></script>
<!-- /cbo -->

<!-- cidade -->
<script src="app/services/cidade.service.js"></script>
<!--<script src="app/subfolder/cidade.controller.js"></script>   
<!--<script src="app/subfolder/cidade.edit.controller.js"></script>   
<!-- /cidade -->

<!-- ------------------------------Ficha Funcional ----------------------------------------- -->

<!-- qualificacao -->
<script src="app/services/qualificacao.service.js"></script>
<script src="app/ficha/qualificacao.controller.js"></script>
<script src="app/ficha/qualificacao.edit.controller.js"></script>
<!-- /qualificacao -->

<!-- funcionarioAcidente -->
<script src="app/services/funcionario-acidente.service.js"></script>
<script src="app/ficha/funcionario-acidente.controller.js"></script>
<script src="app/ficha/funcionario-acidente.edit.controller.js"></script>
<!-- /funcionarioAcidente -->

<!-- sindicato -->
<script src="app/services/sindicato.service.js"></script>
<script src="app/ficha/sindicato.controller.js"></script>
<script src="app/ficha/sindicato.edit.controller.js"></script>
<!-- /sindicato -->

<!-- empresa -->
<script src="app/services/empresa.service.js"></script>
<script src="app/ficha/empresa.controller.js"></script>
<script src="app/ficha/empresa.edit.controller.js"></script>
<!-- /empresa -->

<!-- unidade -->
<script src="app/services/unidade.service.js"></script>
<script src="app/ficha/unidade.controller.js"></script>
<script src="app/ficha/unidade.edit.controller.js"></script>
<!-- /unidade -->

<!-- cor -->
<script src="app/services/cor.service.js"></script>
<!--<script src="app/subfolder/cor.controller.js"></script>   
<script src="app/subfolder/cor.edit.controller.js"></script>   
<!-- /cor -->

<!-- ------------------------------Ficha Funcional ----------------------------------------- -->



<script src="app/services/authorization.service.js"></script>
<script src="app/services/api.interceptor.service.js"></script>
<script src="app/services/menu.service.js"></script>
<script src="app/services/nivel.service.js"></script>
<script src="app/services/shared.service.js"></script>
<script src="app/services/empresa.service.js"></script>
<script src="app/services/cargo.service.js"></script>
<script src="app/services/eventofuncionario.service.js"></script>


<script src="app/services/funcionariocargo.service.js"></script>

<!-- evento -->
<script src="app/services/evento.service.js"></script>
<script src="app/folha/evento.controller.js"></script>
<script src="app/folha/evento.edit.controller.js"></script>
<!-- /evento -->
<script src="app/folha/datepicker-mes.directive.js"></script>
<script src="app/folha/select-empresa.directive.js"></script>
<script src="app/folha/select-funcionarios.directive.js"></script>

<!-- folhacalculada -->
<script src="app/services/folhacalculada.service.js"></script>
<script src="app/folha/folhacalculada.controller.js"></script>
<!-- /folhacalculada -->

<!-- funcionario -->
<script src="app/services/funcionario.service.js"></script>
<script src="app/ficha/funcionario.controller.js"></script>
<script src="app/ficha/funcionario.edit.controller.js"></script>
<script src="app/ficha/funcionario-cargo.edit.controller.js"></script>

<script src="app/ficha/ficha.top.controller.js"></script>
<!-- /funcionario -->
<script src="app/folha/funcionario-evento.controller.js"></script>
<script src="app/folha/funcionario-evento.edit.controller.js"></script>

<!-- tabela -->
<script src="app/services/tabela.service.js"></script>
<script src="app/folha/tabela.controller.js"></script>
<script src="app/folha/tabela.edit.controller.js"></script>
<!-- /tabela -->

<script src="app/application/menu.controller.js"></script>
<script src="app/application/menu.edit.controller.js"></script>
<script src="app/application/login.controller.js"></script>
<script src="app/folha/calculo.folha.controller.js"></script>
<script src="app/folha/calculo.folha.modal.controller.js"></script>


<script src="app/components/user-avatar.direcive.js"></script>
<!--<script src="app/services/api.interceptor.service.js"></script>-->
<script src="app/components/show-errors.directive.js"></script>
<script src="app/components/autofocus.directive.js"></script>
<script src="app/components/focus-on.directive.js"></script>
<script src="app/application/app.controller.js"></script>
<script src="app/application/top.controller.js"></script>
<script src="app/sample/crud.controller.js"></script>
<script src="app/sample/crud.edit.controller.js"></script>
<script src="app/services/entry.service.js"></script>
<script src="app/services/workspace.service.js"></script>
<script src="app/sample/activity.controller.js"></script>
<script src="app/sample/list-bottom-sheet.controller.js"></script>

</body>

</html>