<div class="md-fab-bottom-right app-fixed-bottom-right">

    <md-button class="md-fab"  aria-label="save" ng-click="crudVm.save($event)">
        <ng-md-icon icon="save"></ng-md-icon>
    </md-button>

    <md-button class="md-fab "  aria-label="Delete" ng-click="crudVm.cancel($event)" >
        <ng-md-icon icon="cancel"></ng-md-icon>
    </md-button>
</div>


<md-card flex-gt-sm="90" flex-gt-md="80">


    <md-card-content>
        <h2>User</h2>

        <form name="formEdit">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Usuário</label>
                    <input  name="usuario" ng-model="crudVm.entity.usuario" md-maxlength="30" required>
                    <div ng-messages="formEdit.usuario.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>

                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input required name="firstName" ng-model="crudVm.entity.firstName">
                    <div ng-messages="formEdit.firstName.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input required name="lastName" ng-model="crudVm.entity.lastName">
                    <div ng-messages="formEdit.lastName.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">

                <md-datepicker ng-model="crudVm.entity.birth" md-placeholder="Enter date">
                </md-datepicker>
            </div>
        </form>

    </md-card-content>
</md-card>
